body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    width: 4em; 
    margin-right: 4rem;
    color: #B03A2E;
}

.box {
    background-color: white;
    width: 60vw;
    height: 65vh;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.table-form tbody, h4 {
    font-weight: bold;
    color: #EC7063;
}

.table-form tbody td {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.table-form input {
    width: 20rem;
    padding: 0.3rem;
    border: 0;
    border: 2px solid #EC7063;
    border-radius: 5px;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    
}
.walls-text {
    color: #B03A2E; 
    width: 25rem;
    margin-left: 1em;
}

.walls-text div {
    margin: 0.9rem 0;
}

.result {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 1.4rem;
}

.container-btn-calcular {
    display: flex;
    justify-content: center;
}

.btn-calcular {
    background-color: #EC7063;
    color: white;
    font-family: Poppins;
    font-size: 1.2rem;
    border: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    cursor: pointer;
}

@media (max-width: 700px) {
    .title {
        width: 100vw; 
        text-align: center;
        margin-right: 0;
        color: #B03A2E;
    }

    .container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .box {
        width: 90vw;
        height: 85vh;
    }
      
    .table-form input {
        width: 20em;
        margin: 0.25em;
    }
}